<!doctype html>

<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/questions.json" rel="questionnaire">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="openpgp.min.js"></script>
    <script src="app.js"></script>
    <script src="Questionnaire.js"></script>
    <script src="QuestionnaireController.js"></script>
    <script src="AppController.js"></script>
  </head>
  <body ng-app="app" ng-controller="AppController">

    <div ng-if="!questionnaire">Loading...</div>

    <div class="alert alert-error" ng-if="appError">
      {{appError}}
    </div>

    <div ng-if="questionnaire" class="container" ng-controller="QuestionnaireController as qc">

      <h2>{{questionnaire.title}}</h2>
      <p class="well">
    Please complete this questionnaire as fully and accurately as possible. Inaccurate information may result in your operation being delayed or cancelled. If you wish to provide further information specific to any question, click the 'Add extra information' link. Once completed, your information will be sent encrypted to the hospital, where it will be reviewed by medical staff. We will contact you if you need to attend a pre-admission clinic before the day of your surgery.<br/>
    If you have any difficulties completing this questionnaire, please ring 01234 567890
    </p>

      <form name="form" role="form" novalidate ng-hide="qc.sent">
        <div ng-include src="'patient-details'"></div>
        <div ng-repeat="question in questionnaire.questions | filter:qc.isAsked track by $index "
             ng-form="questionForm"
             ng-include src="'question'"></div>
        <button class="btn btn-primary" ng-hide="qc.readyToSend" ng-click="qc.nextQuestion()">Next &raquo;</button>
        <div ng-show="qc.readyToSend" ng-include src="'send'"></div>
      </form>

      <div ng-show="qc.sent">
        <a id="sent"></a>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Form sent</h3>
          </div>
          <div class="panel-body">
            <p>Thanks for completing this questionnaire.</p>
            <p>You doctor will be in touch soon.</p>
          </div>
        </div>
        
        <pre>{{ qc.report | json }}</pre>
        <pre>{{ qc.encryptedReportJson }}</pre>
      </div>

    </div>

    <script id="patient-details" type="text/ng-template">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your details</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="patient-id">Patient number<br/><small>(You can find this on the letter we sent you)</small></label>
            <input type="text" id="patient-id" class="form-control" ng-model="patient.number" required autofocus />
          </div>
          <div class="form-group">
            <label for="patient-name">Patient name</label>
            <input type="text" id="patient-name" class="form-control" ng-model="patient.name" required />
          </div>
          <div class="form-group">
            <label for="patient-dob">Patient date of birth</label>
            <input type="text" id="patient-dob" class="form-control" ng-model="patient.dateOfBirth" required placeholder="dd/mm/yyyy"/>
          </div>
        </div>
      </div>
    </script>

      <script id="question" type="text/ng-template">
        <a id="{{question.id}}"></a>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{question.text}}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group" ng-include src="question.type"></div>
            <div ng-if="question.errorMessage" class="alert alert-danger">{{question.errorMessage}}</div>
            <div class="form-group pull-right" ng-show="question.allowComments()">
              <a href="javascript:void(0)" ng-click="question.addComments()" ng-hide="question.hasComments">Add extra information</a>
            </div>
            <div class="form-group" ng-if="question.hasComments">
              <label>Extra information</label>
              <textarea class="form-control" ng-model="question.comments" ng-show="question.hasComments" autofocus placeholder="Add anything extra that may be relevant"></textarea>
            </div>
            <div class="form-group pull-right" ng-if="question.hasComments">
              <button class="btn btn-xs btn-default" ng-click="question.removeComments()">Remove comment</button>
            </div>
          </div>
          <div class="panel-footer text-muted" ng-if="question.hint">
            <i class="glyphicon glyphicon-info-sign"></i> {{question.hint}}
          </div>
        </div>
      </script>

      <script id="boolean" type="text/ng-template">
        <div class="radio">
          <label><input name="{{question.id}}" type="radio" value="yes" ng-model="question.answer" /> Yes</label>
        </div>
        <div class="radio">
          <label><input name="{{question.id}}" type="radio" value="no" ng-model="question.answer" /> No</label>
        </div>
        <input type="hidden" ng-model="question.answer" required />
      </script>

      <script id="text" type="text/ng-template">
        <textarea class="form-control" rows="10" ng-model="question.answer" required></textarea>
      </script>

      <script id="singleline-text" type="text/ng-template">
        <input type="text" class="form-control" ng-model="question.answer" required/>
      </script>

      <script id="radiolist" type="text/ng-template">
        <div class="radio" ng-repeat="option in question.options">
          <label>
            <input type="radio" name="{{question.id}}" value="{{option.text}}" ng-model="question.answer" />
            {{option.text}}
          </label>
        </div>
        <input type="hidden" name="{{question.id}}" ng-model="question.answer" required/>
      </script>

      <script id="checklist" type="text/ng-template">
        <div class="checkbox" ng-repeat="option in question.options">
          <label>
            <input type="checkbox" value="{{option.text}}" ng-model="option.selected" />
            {{option.text}}
          </label>
        </div>
      </script>

      <script id="send" type="text/ng-template">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Ready to submit?</h3>
          </div>
          <div class="panel-body">
            <p>Please review your answers, the click Send to Doctor to securely send them.</p>
            <button class="btn btn-primary" ng-click="qc.send()"><i class="glyphicon glyphicon-lock"></i> Send to Doctor</button>
          </div>
        </div>
        <a id="send"></a>
      </script>

<pre style="display:none" id="public-key">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG/MacGPG2 v2.0.18 (Darwin)
Comment: GPGTools - http://gpgtools.org

mQENBE8Tb1oBCADSFabWN+0j8Edt3b0s2/pf5C6oKY0SFgblPwSq//R0Cm6h2cOd
C1SqKPdv1BW8qWyBJ4P58+Fh4FNqWKUTsE4BHE8Sq2Go2tN1pROedubDcgYYuJ+c
VLY7Q0fqnHlm2wifVEvvv6rBRtwyFlBU9Elc3N7pN0kGtUI2nSEQZsmbsn9/jawt
CwSvz2KomJ54pAm2UlWMy62b+VS0yorHbe6WjO2FdisUa3EQxGcF5yTMdpNPGb/R
9tw0FMOL0D8mG4T24uFMd19xl+BjoQ7r+rVJr6+S2CgQ4cG+6PnvBfzFsamSiXvi
hkM2LgJEMeNavonbPKcd2zo4mUaFfvhtAEYBABEBAAG0HE9wZW5QR1AuanMgPGxp
c3RAb3BlbnBncC5qcz6JAT8EEwECACkFAk8Tb1oCGy8FCQeGH4AHCwkIBwMCAQYV
CAIJCgsEFgIDAQIeAQIXgAAKCRBBcpNwheX4iWvoCACbuyyDUrEfgW3oBDbpPnaL
GizbXrNiYeNfP/Fd8JXorR386qWCfJ+mfjrPbeDx9bNDn4QijMhvCRzOg/95E53S
sNnD/tAPTnNVnAjMwTUoiwxgv3pJqYXScRrVC/0lMNvaJ7ZHVWlX2BjxwGfNrOVU
iJtbCmK1EsWmMhqIKHqZ7nFm1MdxmoqiaAXazC3j2l4oAyRgn4nT+5cthLTfEHaT
nx9VdmWAl8cB9ooBGEhv19YNsS/FuEHgCUeRCc4kOjXlYv+wFnxbVNACpt+WJ74D
Hf5BLFtVU6vdpoaA7EYpyl4ZFo60kmhWaR5Cfz2Bis9Mr0yxTO7tAUHMfhKVFAyG
uQENBE8Tb1oBCADc6Rff093u+KxslkCDlVBQ/abPKuimcAQniDV7y9BQzl+Nvx1F
HWIuyA3TLysot+2Rp+19011fJLyGTv94fvqiw9CPQoJzePJ/9ehq9RW4PWEm6YNo
g/jNYN5+Kvza3Lk0SuYP6pchHJCORRJObgbVE3liHtC7y2KY1GFOr6epxN+cNVz6
D22Kxi9P1jjpxSzHsT0PpUUc3vgvLkyVBnGQQp43KjEbHU4YE401BfMdeVp7dOUD
7CR0sW6q/u64FLFEIX5XV/JPUkha4ck1xknzdbNv8HuKUPbZSzyf58rwSm6ev5KM
UY7//Dg/I3JQJnerhfxgg62hB2nbirPSf+XhABEBAAGJAkQEGAECAA8FAk8Tb1oC
Gy4FCQeGH4ABKQkQQXKTcIXl+InAXSAEGQECAAYFAk8Tb1oACgkQHC9oK3kswEJB
0Qf/VsL2miXAQ/iBJY5W9jM+S1HOY4n3OtJNXhmuk+uW52UjUC8mWLQL184udPLO
gQGrBUZXKNQK5q79rsCnZEv40FhU7bNjZ3/8gQnmlUMoMPQIDqozSObKS7eo0p2L
D9ZD1a0Gg+xRg9MKczLn4+YqRRIQcpyc/j9SOCM/z41NcNlBqxTX8njT9lWkeJoV
KTENEv9ubqVJgH+u0kA052yzc8dWt1XBjcOF4voRZ/Iksn6QtCtpHB40hSSwL5I0
VEv9LeMbkzHb+ZhNCq9VFK2x0RrgGgDLOoSEUbrCJDyHnQfkCnVEl6eTVm1JfA34
VejDMU8F7GJ8RypWZKeTxqe2Wh2nB/9p1Ea0Q0f5BWfdulEMKhbkr6a0VrWQ/76M
wmgqFsiqGkU28gCiXJBJc1557FOYUquzGo1dRoEbl9nCVXkcfVjgGCiVBnQWhNk2
CTGA0lZ/Bzw0gZXjs32SRzTIUoaS7aJi7V324Q2ISjYJjJ3soijctVHCzi7JK43j
kg64fBx5DqXZGZaKESlcI1apmAo2O9GvoSusAzfg6h55dJh3526MRgN6ooB+Mlm+
d1znU1KJs+UvEXFkvlCo6Q8nhjKzUMWqXthoWcc3ZqFvc2Abvu3n/T4Malsq7kiC
z8jl9UymAkoTcsVWRVr5PKR0zsCxaNV3w5hv6j12+US7mEWe2kuD
=Lx12
-----END PGP PUBLIC KEY BLOCK-----
</pre>

    </body>

  </html>

