<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Pre-operative Assessment Patient-submitted report</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <span id="patient-name">Name - {{report.patient.name}}</span><br/>
        <span id="patient-id">Patient ID - {{report.patient.number}}</span><br/>
        <span id="patient-dob">Date of Birth - {{report.patient.dateOfBirth | date:'d MMM yyyy'}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <span class="patient-item" id="patient-name">Questionnaire Submitted - {{report.created | date:'d MMM yyyy'}}</span>
      </div>
    </div>
  </div>
  <div class="row" id="redflag" ng-if="report.redFlags.length">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <h4>The following items demand review</h4>
        <ul>
          <li ng-repeat="item in report.redFlags">
          {{item.question}} - {{item.answer}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" id="yellowflag" ng-if="report.yellowFlags.length">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <h4>The following items may require further review</h4>
        <ul>
          <li ng-repeat="item in report.yellowFlags">
          {{item.question}} - {{item.answer}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fullreport well">
    <h4>All responses</h4>
    <p class="question" ng-repeat="response in report.responses">
      <span class="question-text">
        {{response.question}}
      </span>
      <br/>
      <strong class="answer">
        {{response.answer}}
      </strong>
      <br/>
      <span class="answer-text" ng-if="response.comments">
        {{response.comments}}
      </span>
    </p>
  </div>
</div>
